@font-face {
    font-family: 'FF Meta';
    font-style: normal;
    font-weight: normal;
    src: url('app/fonts/MetaWebPro-Normal.woff') format('woff');
}

@font-face {
    font-family: 'FF Meta';
    font-style: normal;
    font-weight: bold;
    src: url('app/fonts/MetaWebPro-Medium.woff') format('woff');
}
