<section data-cookiebar class="cookiebar uk-hidden">
  <div class="cookiebar__inner uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="cookiebar__text"> {# {{ label("cookiebar_text") }} #}
            <a href="#" class="link--button cookiebar__button underlined">{# {{ label("cookiebar_link") }} #}</a></div>
            <a href="#" data-cookie-accept class="link--button cookiebar__button underlined uk-align-right">{# {{ label("cookiebar_button") }} #}</a>
        </div>
    </div>
  </div>
</section>
