{{ blok._editable|raw }}
<section data-js-lint class="linter">
    <h3>This is the linter component. Here i used css and js, to test the precommit linter <i>husky</i>.</h3>
    <a href="https://www.npmjs.com/package/husky" target="_blank">Get more info about husky</a>
</section>
